<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>You can call this APIS:</p>
<p>GET: https://movie-wishlist-backend.appspot.com/api/movies/1.0/list/all</p>
<p>POST: https://movie-wishlist-backend.appspot.com/api/user-movies/1.0/add</p>
<p>POST: https://movie-wishlist-backend.appspot.com/api/user-movies/1.0/remove</p>
<p>GET: https://movie-wishlist-backend.appspot.com/api/user-movies/1.0/list/:user</p>